.info-block {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    transition: .2s;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
.back{
    color: #666
}
.back i{
    margin-right: 5px;
}
.back:hover {
    cursor: pointer;
    color: #333333
}