.info-block {
    border: 1px solid #EBEEF5;
    border-radius: 2px;
    transition: .2s;
    margin: 0 auto;
}
.info-block.hover,.info-block:hover {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5)
}
.block{
    border: 1px solid #E4E7ED;
    border-radius: 2px;
    transition: .2s;
    margin: 0 auto;
}
.block.hover,block:hover {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5)
}
.text-center {
    text-align: center;
}

.back {
    color: #606266
}

.back i {
    margin-right: 5px;
}

.back:hover {
    cursor: pointer;
    color: #303133
}

.page-breadcrumb {
    border-bottom: 1px solid #EBEEF5;
    padding: 15px 0
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.text-primary {
    color: #409EFF;
}

.text-success {
    color: #67C23A;
}

.text-warning {
    color: #E6A23C;
}

.text-danger {
    color: #F56C6C;
}

.text-info {
    color: #909399;
}
.text-small{
    font-size: 12px;
}
.iconfont {
    font-size: inherit !important;
}