.info-block {
    border: 1px solid #EBEEF5;
    border-radius: 2px;
    transition: .2s;
    margin: 0 auto;
}

.info-block.hover, .info-block:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5)
}

.block {
    border: 1px solid #E4E7ED;
    border-radius: 2px;
    transition: .2s;
    margin: 0 auto;
}

.block.hover, block:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5)
}

.text-center {
    text-align: center;
}

.back {
    color: #606266
}

.back i {
    margin-right: 5px;
}

.back:hover {
    cursor: pointer;
    color: #303133
}

.page-breadcrumb {
    border-bottom: 1px solid #EBEEF5;
    padding: 15px 0
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.text-primary {
    color: #409EFF;
}

.text-success {
    color: #67C23A;
}

.text-warning {
    color: #E6A23C;
}

.text-danger {
    color: #F56C6C;
}

.text-info {
    color: #909399;
}

.text-small {
    font-size: 12px;
}

.iconfont {
    font-size: inherit !important;
}

a, div, input, textarea {
    outline: 0;
}

a, a:visited {
    list-style: none;
    color: #606266;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    color: #409EFF;
}

.img-circle {
    background-color: #EBEEF5;
    border: 1px solid #E4E7ED;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: auto 2px;
    overflow: hidden;
  }
  
  .img-circle.small {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
/*
 * scroll_bar STYLE
 */

.scroll_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
}

.scroll_bar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cccccc;
}

/*********list transition*******/

.list-enter-active, .list-leave-active {
    transition: all .3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(100px);
}

.list-move {
    transition: transform 1s;
}

.list-leave-active {
    position: absolute;
}